// Research & Recipes - Variables
// -------------------------------------


// Typographic Variables

$titlingFontFace: 'Lato', sans-serif;
$monoFontFace: 'PT Mono', sans-serif;
$baseFontFace: Georgia, serif;