// Research & Recipes - Variables
// -------------------------------------


// Typographic Variables

$titlingFontFace : 'Lato', sans-serif;   // These 3 vars are self-explanatory
$monoFontFace    : 'PT Mono', sans-serif;
$baseFontFace    : Georgia, serif;
$fontSizeAdjust  : 0.5;

$baseFontSize    : 1em;                     // Base Font Size (16px)
$baseLineHeight  : 1.25em;                // Base Line Height (22px)