/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: "Lato", sans-serif; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  line-height: 1.25em; }

@media (min-width: 35em) {
  #page {
    font-size: 1em;
    line-height: 1.375em; } }
h1 {
  font-size: 2em;
  line-height: 1.25em; }

@media (min-width: 35em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em; } }
@media (min-width: 45em) {
  h1 {
    font-size: 3em;
    line-height: 1.05em; } }
h2 {
  font-size: 1.625em;
  line-height: 1.15385em; }

@media (min-width: 35em) {
  h2 {
    font-size: 2em;
    line-height: 1.25em; } }
@media (min-width: 45em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25em; } }
h3 {
  font-size: 1.375em;
  line-height: 1.13636em; }

@media (min-width: 35em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25em; } }
@media (min-width: 45em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25em; } }
h4 {
  font-size: 1.125em;
  line-height: 1.11111em; }

@media (min-width: 35em) {
  h4 {
    line-height: 1.22222em; } }
blockquote {
  font-size: 1.25em;
  line-height: 1.25em; }

@media (min-width: 35em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833em; } }
body {
  height: 100%;
  padding-top: 4em; }

main {
  padding: 1em; }

footer {
  margin: 1em;
  padding-top: 1em;
  border-top: 2px solid #000; }

.offices_of {
  max-width: 220px; }

body {
  font-family: Georgia, serif; }

.main-page {
  text-align: center;
  text-transform: uppercase; }

.category-large a {
  width: 14.375em;
  height: 14.375em;
  position: relative;
  display: block;
  margin: 0 auto 1em auto;
  border-radius: 50%;
  overflow: hidden;
  color: #fff; }

.overlay-center {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  font-size: 4em; }

.img-circle {
  position: absolute; }

.brownies {
  top: -19px;
  left: -180px; }

.classic-pizza {
  top: -26px;
  left: -50px; }

.real-iced-tea {
  top: -289px;
  left: -3px; }

.turkey-breast {
  top: -55px;
  left: -107px; }
