{% include head.html %}

  <div class="category-large">
    <a href="#">
      <img class="img-circle brownies" src="{{ site.baseurl}}img/home/brownies.jpg">
      <h2 class="overlay-center">Bake</h2>
    </a>
  </div>
  <div class="category-large">
    <a href="#">
      <img class="img-circle turkey-breast" src="{{ site.baseurl}}img/home/turkey-breast.jpg">
      <h2 class="overlay-center">Cook</h2>
    </a>
  </div>
  <div class="category-large">
    <a href="#">
      <img class="img-circle real-iced-tea" src="{{ site.baseurl}}img/home/real-iced-tea.jpg">
      <h2 class="overlay-center">Drink</h2>
    </a>
  </div>

  <main role="main">
    {{ content }}
  </main>

{% include foot.html %}
